:root {
    --text: #000000;
    --background: #98d1db;
    --primary: #06436b;
    --secondary: #b9b9c0;
    --accent: #000c44;
    font-size: 24px;
}

* {
    /* border: 1 px solid red;  */
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Times New Roman";
    /* font-style: italic; */
}

h1,
h2,
h3 {
    color: var(--primary);
    font-family: "Gravitas one";
    font-weight: bold;
    font-size: 2rem;
    border: 3px solid rgb(0, 27, 61);
    padding-top: 6px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 6px;
    margin: 1px;
}

p {
    text-decoration: underline;
    text-decoration: initial;
    margin: 10px;
    font-family: "Times New Roman";
    color: #000047;
}

li:marker {
    color: var(--secondary);

}

img {
    padding: 4px;
    border: 4px solid var(--secondary);
    border-radius: 16px;
    background: var(--primary);
}

audio {
    background: var(--secondary);
    border: 3px solid var(--accent);
    width: 100%;
    height: 70px;
}

a {
    color: var(--accent);
    margin: 30px;
    border: 1px solid var(--accent);
    border-radius: 17px;
    text-decoration: none;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}